<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Site.Title }}</title>
  {{ $style := resources.Get "sass/main.sass" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  {{ $uijs := resources.Get "js/ui.js" }}
  {{ $crypto := resources.Get "js/crypto.js" }}
  {{ $scripts := slice $uijs $crypto | resources.Concat "js/bundle.js" | resources.Minify | resources.Fingerprint }}
  <script defer src="{{ $scripts.Permalink }}"></script>
</head>
