@import "bulma/utilities/_all.sass"
@import "bulma/base/_all.sass"
@import "bulma/components/_all.sass"
@import "bulma/elements/_all.sass"
@import "bulma/form/_all.sass"
@import "bulma/grid/_all.sass"
@import "bulma/layout/_all.sass"
@import "bulma-tooltip"
//@import "webkit.css"

.rl-backdrop
  background-image: url("/img/backdrop.png")
  background-repeat: repeat

.rl-background
  background-color: #551313

.rl-text-color, .rl-text-color > *
  color: #dfdfdf !important

.rl-input
  background-color: black
  color: #dfdfdf
  border: 1px solid #808080
  resize: none
  &:focus, &:hover
    border: 1px solid white

.rl-button
  background-color: #6e1818
  color: #f23535
  &:hover
    background-color: #6e1818

.banner
  background-image: url("/img/dragoncode.jpg")

.rl-link
  color: #f23535

.rl-parchment-backdrop
  background-image: url("/img/parchment.jpg")
  background-repeat: repeat

.black-text-color, .black-text-color > *
  color: #000000 !important
