{{ define "main" }}
  <section class="hero is-black">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title">
          Dragon Code
        </h1>
        <h2 class="subtitle">
          A helper to read and write secret coded messages IG.
        </h2>
      </div>
    </div>
  </section>
  <section class="section rl-backdrop has-text-centered">
    <div class="container">
      <h1 class="title rl-text-color">
        Encrypt or Decrypt Messages
      </h1>
    </div>
  </section>
  <section class="section rl-backdrop">
    <div class="container">
      <div id="error-messages" class="notification is-danger is-light is-hidden">
        <button class="delete"></button>
      </div>
      <div class="columns">
        <div class="column">
          <div class="box rl-background">
            <div class="field">
              <label class="label rl-text-color">Message</label>
              <div class="control">
                <textarea id="message" class="textarea rl-input" placeholder="Message"></textarea>
              </div>
            </div>
            <div class="field">
              <label class="label rl-text-color">Key Phrase</label>
              <div class="control">
                <input id="phrase" class="input rl-input" type="text" placeholder="Key Phrase"></textarea>
              </div>
            </div>
            <div class="field">
              <label class="label rl-text-color">One Time Key</label>
              <div class="control">
                <textarea id="otp" class="textarea rl-input" placeholder="One Time Pad"></textarea>
              </div>
            </div>
            <div class="field">
              <label class="label rl-text-color">One Time Key Offset</label>
              <div class="control">
                <input id="otp-offset" class="input rl-input" type="text" placeholder="Alphabet" value="0"></textarea>
              </div>
            </div>
            <div class="field">
              <label class="label rl-text-color">Alphabet</label>
              <div class="control">
                <input id="alphabet" class="input rl-input" type="text" placeholder="Alphabet" value="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789,.-?'_$"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box rl-background">
            <div class="field">
              <label class="label rl-text-color">Output</label>
              <div class="control">
                <textarea id="output" class="textarea rl-input" placeholder="Output" readonly></textarea>
              </div>
            </div>
            <div class="field">
              <label class="label rl-text-color">Commands for writing in game</label>
              <div class="control">
                <textarea id="ig-writable" class="textarea rl-input" placeholder="Output" rows="12" readonly></textarea>
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button" onclick="encrypt()">
                  <span class="icon">
                    <i class="fas fa-lock"></i>
                  </span>
                  <span>Encrypt</span>
                </button>
              </div>
              <div class="control">
                <button class="button" onclick="decrypt()">
                  <span class="icon">
                    <i class="fas fa-lock-open"></i>
                  </span>
                  <span>Decrypt</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section rl-backdrop has-text-centered">
    <div class="container">
      <h1 class="title rl-text-color">
        Make a new One Time Key
      </h1>
    </div>
  </section>
  <section class="section rl-backdrop">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="box rl-background">
            <div class="field">
              <label class="label rl-text-color">Key Length</label>
              <div class="control">
                <input id="otp-length" class="input rl-input" placeholder="948" value="948"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="box rl-background">
            <div class="field">
              <label class="label rl-text-color">One Time Key</label>
              <div class="control">
                <textarea id="otp-output" class="textarea rl-input" placeholder="Output" readonly></textarea>
              </div>
            </div>
            <div class="field">
              <label class="label rl-text-color">Commands for writing in game</label>
              <div class="control">
                <textarea id="ig-writable-otp" class="textarea rl-input" placeholder="Output" rows="12" readonly></textarea>
              </div>
            </div>
            <div class="field">
              <div class="control">
                <button class="button" onclick="make_otp()">
                  <span class="icon">
                    <i class="fas fa-dice"></i>
                  </span>
                  <span>Make Key</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
